{{ define "config" }}
jobs:
  deploy: true
  smoke-tests: true
  cf-acceptance-tests-brain: false
  cf-acceptance-tests: false
  sync-integration-tests: false
  upgrade: false
  stratos: false
  destroy-kubecf: true
jobs_ordered:
- deploy
- smoke-tests
- cf-acceptance-tests-brain
- cf-acceptance-tests
- sync-integration-tests
- upgrade
- stratos
- destroy-kubecf
backends:
  caasp4: false
  aks: alse
  gke: true
  eks: false
availabilities:
  sa: true
  ha: false
  all: false
schedulers:
  diego: true
  eirini: false
catapult:
  uri: https://github.com/SUSE/catapult
  branch: master
brain:
  verbose: false
  inorder: false
  include: ""
  exclude: ""
{{ end }}
