{{ define "scripts_destroy_k8s" }}
# delete k8s cluster
cp ../tfstate-pool/metadata tfstate.zip
export TFSTATE=$PWD/tfstate.zip
export AWS_ACCESS_KEY_ID='((aws-ci-chuller-access-key-id))'
export AWS_SECRET_ACCESS_KEY='((aws-ci-chuller-secret-access-key))'
if [[ ${BACKEND} == "gke" ]]; then
    printf "%s" '((gke-key-json))' > $PWD/gke-key.json
    export GKE_CRED_JSON=$PWD/gke-key.json
    export SCF_OPERATOR=true
    make clean
fi
{{ end }}
