{{ define "scripts_obtain_kubeconfig" }}
# obtain kubeconfig from pool
pool_file=${pool_file:-pool.kube-hosts/metadata}
export CLUSTER_NAME=$(cat pool.kube-hosts/name)
cp ${pool_file} catapult/kubeconfig_$CLUSTER_NAME
pushd catapult
{{ end }}
