{{ define "scripts_test" }}
{{- /* Attention: PWD = ___/catapult here */}}
{{- /* run test suites on cluster */}}
{{- /* See: https://github.com/SUSE/catapult/wiki/Running-SCF-tests#kubecf */}}
export KUBECF_TEST_SUITE="${KUBECF_TEST_SUITE:-smokes}"
export KUBECF_NAMESPACE="scf"
export QUIET_OUTPUT=true
make tests-kubecf
{{ end }}
