{{ define "scripts_upgrade_kubecf" }}
{{- /* Attention: PWD = ___/catapult here */ -}}
{{- /* upgrade kubecf */ -}}
export SCF_CHART="$(readlink -f ../s3.kubecf-bundle/*.tgz)"
export SCF_OPERATOR=true
export DOCKER_ORG=cap-staging
export QUIET_OUTPUT=true
env | sort | sed -e 's|^|CONFIGURATION: |'
make scf-chart # this takes the same chart as the deploy step for now
make scf-gen-config
make scf-upgrade
{{ end }}
