{{ define "jobs_destroy-k8s" }}
- name: destroy-k8s-{{ .scheduler }}-{{ .backend }}-{{ .avail }}
  serial_groups: [{{ .scheduler }}-{{ .backend }}-{{ .avail }}]
  public: false
  plan:
  - get: catapult
  - get: {{ .backend }}-pool.kube-hosts
    passed:
    - {{ index .jobs_enabled (sub .position 1) }}-{{ .scheduler }}-{{ .backend }}-{{ .avail }}
  {{ tmpl.Exec "common_destroy_k8s" . | indent 2 | trimSpace }} 
{{ end }}
