{{ define "jobs_sync-integration-tests" }}
- name: sync-integration-tests-{{ .scheduler }}-{{ .backend }}-{{ .avail }}
  serial_groups: [{{ .scheduler }}-{{ .backend }}-{{ .avail }}]
  public: false
  plan:
  - get: catapult
  - get: {{ .backend }}-pool.kube-hosts
    {{- if ne .position 0 }}
    passed:
    - {{ index .jobs_enabled (sub .position 1) }}-{{ .scheduler }}-{{ .backend }}-{{ .avail }}
    {{- end }}
    trigger: true
  {{- if index .jobs "deploy-k8s" }}
  - get: tfstate-pool
    {{- if ne .position 0 }}
    passed:
    - {{ index .jobs_enabled (sub .position 1) }}-{{ .scheduler }}-{{ .backend }}-{{ .avail }}
    {{- end }}
    trigger: true
  {{- end }}
  - task: test-{{ .scheduler }}
    {{- if has .workertags .backend }}
    tags: [{{ index .workertags .backend }}]
    {{- end }}
    timeout: 5h30m
    input_mapping:
      pool.kube-hosts: {{ .backend }}-pool.kube-hosts
    config:
      platform: linux
      image_resource:
        type: registry-image
        source:
          repository: splatform/catapult
      inputs:
      - name: catapult
      - name: pool.kube-hosts
      params:
        QUIET_OUTPUT: true
        DOWNLOAD_CATAPULT_DEPS: false
        ENABLE_EIRINI: {{ eq .scheduler "eirini" }}
{{- if eq .avail "ha" }}
        HA: true
{{- end }}
{{- if eq .avail "all" }}
{{- print .allbells }}
{{- end }}
        KUBECF_TEST_SUITE: sits
        {{ tmpl.Exec "common_eks_params" | indent 8 | trimSpace }}
      run:
        path: "/bin/bash"
        args:
          - -c
          - |
            {{ tmpl.Exec "scripts_obtain_kubeconfig" | indent 12 | trimSpace }}
            {{ tmpl.Exec ( print "scripts_import_" .backend ) | indent 12 | trimSpace }}
            {{ tmpl.Exec "scripts_test" | indent 12 | trimSpace }}
  {{- if index .jobs "deploy-k8s" }}
  {{ tmpl.Exec "common_destroy_k8s" . | indent 2 | trimSpace }}
  {{- end }}
{{ end }}
