---
ci_uri: https://github.com/SUSE/cap.git
ci_branch: master
bucket: cap-release-artifacts
region: us-east-1
helm_charts_repo_uri: git@github.com:SUSE/kubernetes-charts-suse-com.git
helm_charts_repo_branch: master
github_mail: cf-ci-bot@suse.de
github_user: suse-cf-ci-bot
